@import "../../../index.css";

.navBar {
  display: flex;

  justify-content: space-between;

  background-color: var(--bg-03);
  padding: 1em;
}

.list {
  list-style: none;

  display: flex;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: var(--color-02);
  text-decoration: none;
}

.item a:hover {
  color: var(--color-01);
  text-decoration: none;
}

.item a:active {
  opacity: 0.8;
}
