@import "../../../index.css";

.btn {
  background-color: var(--bg-01);
  color: var(--color-02);

  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.3s ease;
  border-bottom: 1px solid transparent;
}

.btn:hover {
  color: var(--color-01);
  background-color: var(--bg-04);
}

.btn:active {
  opacity: 0.8;
}
