/* Container.module.css */
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min_height {
  min-height: 75%;
}

.min_height {
  min-height: 75%;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 1200px;
  }
}
