@import "../../../index.css";

.footer {
  background-color: var(--bg-01);
  color: var(--color-02);
  padding: 3em;
  text-align: center;
}

.social_list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1em;
}

.social_list li:hover {
  color: var(--color-01);
}

.social_list li:active {
  opacity: 0.8;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin: 1em 0;
}

.copy_right span {
  font-weight: bold;
  color: var(--color-01);
}

.Autor {
  padding-top: 10px;
  border-top: 1px solid var(--border-01);
}

.Autor a {
  color: var(--color-03);
  text-decoration: none;
}

.Autor a:hover {
  color: var(--color-01);
}

.Autor a:active {
  opacity: 0.8;
}
