* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}

:root {
  /* Texts */
  --color-01: #ffbb33; /* footer */
  --color-02: #fff; /* texts & icons */
  --color-03: #ffffff; /* my name(autor) */
  --color-04: #7b7b7b; /* home => p */
  --color-05: #222;
  --success-02: #639b61; /* success */
  --error-02: #721c24; /* error */

  /* Background */
  --bg-01: #222; /* footer */
  --bg-02: #efefef; /* container */
  --bg-03: #222222; /* navbar */
  --bg-04: #000000e5;
  --bg-05: #ffaebc;
  --bg-06: #a0e7e5;
  --bg-07: #b4f8c8;
  --bg-08: #fbe7c6;
  --bg-09: #fff;
  --bg-trasparent-01: rgba(0, 0, 0, 0.541);
  --success-01: #d4edda; /* success */
  --error-01: #f8d7da; /* error */

  /* Borders */
  --border-01: rgba(255, 255, 255, 0.233); /* author's edge */
  --border-02: #000;
  --border-03: #7a7a7a;
  --border-04: #7a7a7a;
  --success-03: #c3e6cb; /* success */
  --error-03: #f5c6cb; /* error */
}

html,
body,
#root {
  background-color: var(--bg-02);
  height: 100%;
}
