* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}

:root {
  /* Yellow for text*/
  --color-01: #ffbb33;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
}
