@import "../../../index.css";

.project_details {
  width: 100%;

  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  padding: 2em 1em;
}

.project_details h1,
.project_details h2,
.project_details p {
  margin-bottom: 0.5em;
}

.project_details h1 {
  background-color: var(--bg-01);
  color: var(--color-01);
  padding: 0.3em;

  font-variant: small-caps;
}

.project_details span {
  font-weight: bold;
}

.details_container,
.service_form_conteiner {
  border-bottom: 1px solid var(--border-04);
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;

  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;

  padding: 0 1.2em;
}

.btn {
  background-color: var(--bg-01);
  color: var(--color-02);

  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.2s ease;

  height: 40px;

  cursor: pointer;
  outline: none;
  border: none;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  color: var(--color-01);
  background-color: var(--bg-04);
}

.btn:active {
  opacity: 0.8;
}

.project_info {
  width: 100%;
}

.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  margin-left: 0.5em;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .project_details h1 {
    font-size: 2em;
    text-align: center;

    padding: 10px;
  }
}
